/*@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';

.form-wrapper {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.App {
    text-align: center;
    margin-top: 30px;
}

nav {
    width: auto;
    text-align: center;
    margin: 0 auto;
    background: #282c34;
    height: 70px;
    line-height: 70px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 30px;
}

nav ul li a {
    margin: 50px 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}

table {
    margin-top: 50px;
}

.App-link {
    color: #61dafb;
}

.chart-wrapper {
    width: 96%;
    height: 600px;
    padding: 2%;
    display: inline-block;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/
